/.phpunit.cache
/.fleet
/.idea
/.vscode
/node_modules
/vendor

# Laravel environment
.env
.env.backup
.env.production

# Build output
/public/build
/public/hot
/public/storage
/public/assets

/storage/*.key

# PHPUnit
.phpunit.result.cache

# Homestead (jika tidak dipakai)
Homestead.json
Homestead.yaml

# Log files
npm-debug.log
yarn-error.log

# Auth tokens
auth.json
